<div>
 <p> <h4>Employee Name : </h4> <%= @status.user.first_name %> <%= @status.user.last_name %> </p> 
</div>
<div>
 <p> <h4>Email : </h4> <%= @status.user.email %> </p> 
</div>
<div>
  <p><h4>Project</h4><%=@status.project_name%></p> 
</div>
<div>
  <p><h4>Task</h4><%=@status.task%></p>
</div>

