<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_with(model: @status, local: true) do |f| %>
      <%= f.label :project_name %>
      <%= f.collection_select :project_name, Project.all, :id, :project_name %><br>

      <%= f.label :Task %>
      <%= f.text_field :task, class: 'form-control' %>

      <%= f.label :total_hours %>
      <%= f.number_field :total_hours, class: 'form-control' %>

      <%= f.hidden_field :user_id, value:current_user.id %>

      <%= f.label :manager_id %><br>
      <%= f.collection_select :manager_id, User.where(type:"Manager"), :id, :first_name %><br>

      <%= f.submit "Upload status", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>