
<% if admin_user %>
  <%= paginate @users %>
  <h1 class=text-center>All users</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>  <%= user.id %> </td>
          <td> <%= user.first_name %> </td>
          <td> <%= user.email %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
  <br>


<%else%>
  <h1 class=text-center> All Projects</h1>
  <%= paginate @users %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First name</th>
        <th scope="col">last_name</th>
        <th scope="col">project name</th>
        <th scope="col">status</th>
        <th scope="col">manager id</th>
      </tr>
    </thead>
    
    <tbody>

      <% @projects.each do |project| %>
        <tr>
          <% if project.user_id == current_user.id %>
          <td> <%= project.id %></td>
          <td> <%= project.user.first_name %></td>
          <td> <%= project.user.last_name %></td>
          <td> <%= project.project_name %></td>
          <td> <%= project.status %></td>
          <td>  <%= project.manager_id %></td>
        </tr>
      <%end%>
    </tbody>
  <% end %>
  </table>
  <%= paginate @users %>
<%end%>

