<% if admin_user %>
<h1>All users</h1>
<% @users.each do |user| %>
    <li>
      <%= user.first_name %>
      <%= user.last_name %>
      
    </li>
  <% end %>
  <section>
<h1> All Projects</h1>
 <% @projects.each do |project| %>
    <li>
      <%= project.user.first_name %>
      <%= project.user.last_name %>
      <%= project.project_name %>
      <%= project.status %>
      <%= project.user_id %>
    </li>
  <% end %>
</section>
<%else%>
<h1> All Projects</h1>
<ul class="users">
    <% @projects.each do |project| %>
    <li>
      <% if project.user_id == current_user.id %>
      <%= project.user.first_name %>
      <%= project.user.last_name %>
      <%= project.project_name %>
      <%= project.status %>
      <%= project.user_id %>
      <%end%>
    </li>
  <% end %>
</ul>
<%end%>

