
<% if admin_user %>
  <%= paginate @users %>
  <h1 class=text-center>All users</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Email</th>
        <th scope="col">Projects</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>  <%= user.id %> </td>
          <td> <%= user.first_name %> </td>
          <td> <%= user.email %> </td>
          <td> 
          <% user.projects.each do |name|%>
          <%= name.project_name%><span>,</span>
          <%end%>
          </td>
           <td><%= link_to "add",projects_assign_project_path(user_id:user.id,project_id:@project_id), method: :post, class: "btn btn-outline-success"%>
           <td><%= link_to "remove",projects_unassign_project_path(user_id:user.id,project_id:@project_id), method: :delete ,class: "btn btn-outline-success"%>
          
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
  <br>


<%else%>
  
    <section>
    <h1 class=text-center> All Projects</h1>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">project name</th>
        <th scope="col">status</th>
        <th scope="col">manager Id</th>
      </tr>
    </thead>
    <tbody>
    <%# <% @projects.each do |project| %> 
     <tr>
     <% current_user.projects.each do |project| %>
      
       <td><%= project.id %></td>
      
        <td><%= project.project_name %></td>
        <td><%= project.status %></td>
        <td><%= project.manager_id %> </td>
      </tr>
    
    <% end %>
    </tbody>
    </table>
  </section> 
  <%= paginate @users %>
<%end%>

