
<% if admin_user%>
 <div class="text-center"><h1>welcom to the Admin Page</h1></div>


  <div class="jumbotron text-center">
  
    <h1>Create new Employee</h1>
    <p class="lead text-info">  </p>
    <%= link_to "Create",users_add_new_user_path, class: "btn btn-lg btn-info"%>
  </div>
  
  
  <div class="jumbotron text-center">
    <h1>Create New Project</h1>
    <p class="lead text-info">  </p>
    <%= link_to "Create Project",new_project_path, class: "btn btn-lg btn-info"%>
  </div>
  
  <div class="jumbotron text-center">
    <h1>All Projects </h1>
    <p class="lead text-info"> View All Projects</p>
    <%= link_to "Show",projects_path, class: "btn btn-lg btn-info"%>
  </div>
  
  <div class="jumbotron text-center">
    <h1>All Employees </h1>
    <p class="lead text-info"> View All Employees along with their Projects</p>
    <%= link_to "Show",users_index_path, class: "btn btn-lg btn-info"%>
  </div>

  <div class="jumbotron text-center">
    <h1>All Leaves </h1>
    <p class="lead text-info"> View All Employees along with their Projects</p>
    <%= link_to "Show",leaves_path, class: "btn btn-lg btn-info"%>
  </div>

  <div class="jumbotron text-center">
    <h1>See all daily status</h1>
    <p class="lead text-info">  </p>
    <%= link_to "Click here",statuses_path, class: "btn btn-lg btn-info"%>
  </div>
<%end%>





<% if !admin_user%>

 <div class="jumbotron text-center">
    <h1>See your projects</h1>
    <p class="lead text-info">  </p>
    <%= link_to "Click here",users_index_path, class: "btn btn-lg btn-info"%>
  </div>

  <div class="jumbotron text-center">
    <h1>See your leaves</h1>
    <p class="lead text-info">  </p>
    <%= link_to "Click here",leaves_path, class: "btn btn-lg btn-info"%>
  </div>

  <div class="jumbotron text-center">
    <h1>See your daily status</h1>
    <p class="lead text-info">  </p>
    <%= link_to "Click here",statuses_path, class: "btn btn-lg btn-info"%>
  </div>
<%end%>






    