<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_with(model: @leave, local: true) do |f| %>
      <%= f.label :leave_from %>
      <%= f.date_field :leave_from, class: 'form-control' %>

      <%= f.label :leave_to %>
      <%= f.date_field :leave_to, class: 'form-control' %>

      <%= f.label :leave_reason %>
      <%= f.text_field :leave_reason, class: 'form-control' %><br>

      <%= f.label :leave_mail_to %>
      <%= f.collection_select :manager_id, [current_user.manager], :id, :email %><br>
      

      <%= f.hidden_field :user_id, value:current_user.id %><br>

      <%= f.label :manager %>
      <%= f.collection_select :manager_id, [current_user.manager], :id, :first_name %><br>

      <%= f.submit "Apply", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>