<section>
    <h1 class=text-center> All Projects</h1>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">project name</th>
        <th scope="col">status</th>
        <th scope="col">manager Id</th>
      </tr>
    </thead>
    <tbody>
    <% @projects.each do |project| %>
     <tr>
      
       <td><%= project.id %></td>
      
        <td><%= project.project_name %></td>
        <td><%= project.status %></td>
        <td><%= project.manager_id %> </td>
        <td><%= link_to "Assign",users_index_path(id:project.id), class: "btn btn-outline-success"%></td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </section>