<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<section>
  <%= render 'layouts/header'%>
</section>
<body>
  <strong><p class="notice"><%= notice%></p></strong>
  <p class="alert"><%= alert%></p>
<main role="main" class="container">
  <%=yield%>
     
</main>   
</body>
<%# <section>
  <%= render 'layouts/footer'</section>       %>


